h1 {
  background-color: salmon;
  text-align: center;
  font-family: fantasy;
  padding: 25px;
  font-size: 60px;
  background-image: image(https://naples.viliving.com/-/media/vi/communities/bentley-village/community-home/1-tall-header/bv_homepage_redev.ashx?h=533&la=en&w=1366&hash=8A4E6E696B16F7B81DDF5401D7B8B3ACE597DCAD);
}
